#link {
  text-align: right;

}

#text {

  margin-top: 56px;
  height: 80px;
  text-align: left;
  font-family: arial;
  color: #d93025;
  font-size: 20px;
  border: gray;



  label {
    font-size: 20px;
    margin-left: 37px;
    color: dark red;

  }

}

.field {
  width: 550px;
  height: 22px;
}

#form {

  margin-left: 38px;

}

.small_label_left {
  font-size: 13px;
  font-family: arial;
}

.smaller_label_right {
  font-size: 11px;
  font-family: arial;
}

table {
  text-align: left;
}

.th1 {
  font-size: 17px;
  font-family: arial;
  font-weight: normal;
}

.th2 {
  font-size: 15px;
  font-family: arial;
  font-weight: normal;
  color: gray;
}

th {
  height: 50px;
}

td {
  height: 42px;
}

#button1 {
  width: 120px;
  height: 30px;
  box-shadow: none;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 2px;
  margin-left: 595px;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  text-align: center;

  &:hover {
    background-color: #4787ed;
  }
}
