#img {
  text-align: center;
  margin-top: 158px;
  margin-right: 1px;

}

#input {

  text-align: center;
  margin-top: 22px;


  input {
    width: 500px;
    height: 43px;
    background-color: white;

    border-color: gray;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 40px;
    outline: none;
    border-width: 0.1px;
  }

  input:hover {
    box-shadow: 0 0 3pt 2pt gray;
  }

  input:focus {
    box-shadow: 0 0 3pt 2pt gray;
  }


}


#form {
  text-align: center;
}


#links {

  text-align: right;


}
